.mobile {
    display: none;
}

.stepone {
    display: grid;
    grid-template-columns: 25% 25%;
    grid-template-areas: "step step" "image define";
}

.steptwo {
    display: grid;
    grid-template-columns: 25% 25%;
    grid-template-areas: "step step" "image define";
}

.step {
    padding: 20px;
    color: white;
    background-color: #AD263D;
    width: 100%;
    margin-left: 0px;
    grid-area: step;
}

.stepthree {
    display: grid;
    grid-template-columns: 25% 25%;
    grid-template-areas: "step step" "image define";
}

img {
    grid-area: image;
}

.define {
    font-size: 24px;
    grid-area: define;
    line-height: 36px;
}

.stepfour {
    display: grid;
    grid-template-columns: 25% 25%;
    grid-template-areas: "step step" "image define";
}

@media screen and (max-width: 600px) {
    .stepone,
    .steptwo,
    .stepthree,
    .stepfour {
        display: block;
    }
    .define {
        font-size: 20px;
    }
    .desktop {
        display: none;
    }
    .mobile {
        display: inline;
        width: 75%;
        margin-left: auto;
        margin-right: auto;
        height: auto;
    }
    .step {
        padding-right: 0px;
    }
}